*{
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
}
/* header  */
/* ----------------navbar start-------------- */
.nav-logo{
     font-weight: 600;
     font-size: 40px;
     text-decoration: none;
     color: #4A4A4A;
     text-align: center;
     
}
.nav-text{

     font-size: 18px;
     font-weight: 400;
     margin-right: 15%;
     
}
.header-button{
     margin-left: 10%;
}
/* -----------------Navbar end----------------------- */
/* slidr */
.slider{
     padding: 65px;
     border-radius: 5px;
     
     
}
.slider-text h1{
     font-size: 65px;

}
.slider-text p{
     font-size: 18px;
     color: #F4F4F4;
}
.slider-text button a{
     text-decoration: none;
     font-size: 20px;
     color: #FFFFFF;
}
/* ---------------slider end--------------- */
.discover{
     padding: 130px;
}
.discover h1{
     font-size: 45px;
     color: #1D1D1D;
}
.discover p{
     font-size: 16px;
     color: #777777;
}
/* ------------------courses start----------------- */
.courses-king{
     border: 1px solid #E8E8E8;
     border-radius: 5px;
     width: 500px;
     height: 200px;
     
}

.courses-text{
     padding: 24px;
}
.courses-text h5{
     font-size: 25px;
     color: #4A4A4A;
}
.courses-img{
     width: 200px;
     height: 200px;
     
}
.courses-text p{
     font-size: 16px;
     color: #777777;
}
.courses-text h6{
     font-size: 18px;
     color: #289BDE;
}
.courses-button{
     width: 248px;
height: 56px;
border-radius: 5px;
margin-left: 40%;
margin-top: 63px;


}
.courses-button a{
     text-decoration: none;
     color: #FFFFFF;
     font-size: 20px;

}
/* --------------------courses end-------------------- */

/*-------------------earining rating start ------------------ --*/

.earning-img{
     width: 600px;
     height: 806px;
}
.earning-bg{
     width: 1120px;
     height: 806px;
     background: #F4FAFD;
     border-radius: 5px;
}
.earning-text{
     margin-left: 60px;

}
.earning-text h1{
     font-size: 45px;
     color: #1D1D1D;
}
.earning-text p{
     font-size: 10px;
     color: #777777;
}
.earning-button a{
     text-decoration: none;
     color: #FFFFFF;
     font-size: 20px;     
}
.register{
     width: 1120px;
     height: 300px;
     background: #289BDE;
     border-radius: 5px;
     margin-top: 130px;
}

.register-text{
     color: #FFFFFF;
}
.register-text p{
     font-size: 10px;
     color: #F4F4F4;
}
.register-button{
     width: 199px;
height: 56px;
margin-left: 30px;
}
.register-button a{
     text-decoration: none;
     color: #000000;
}
/* -------------------earning end------------------------ */
/* ----------------successful student----------- */

.successful-student h1{
     font-size: 45px;
     color: #1D1D1D;

}
.successful-student p{
     font-size: 16px;
     color: #777777;

}
.student{
     width: 265px;
height: 350px;
border: 1px solid #E8E8E8;
border-radius: 5px;
}
.student-img{
     width: 265px;
     height: auto;  
     border-radius: 5px 5px 0px 0px;
}
.student h1{
     font-size: 20px;
     color: #4A4A4A;
}
.student p{
     font-size: 16px;
     color: #777777;
}
.student-text{
     padding: 21px;
}
.student-button{
     margin-left: 46%;
}
.student-button a {
     font-size: 20px;
     color: #FFFFFF;
     text-decoration: none;

}
/* ----------------student end--------------- */
/* student feedback start */
.some-student-feedback h1{
     font-size: 45px;
     color: #1D1D1D;

}
.some-student-feedback p{
     font-size: 16px;
     color: #777777;
}
.student-feedback{
     width: 570px;
height: 336px;
border: 1px solid #E8E8E8;

}
.student-icon a{
     color:#F59E0B;
     
}
.student-icon{
     margin-right: 40px;
}
.student-feedback-text p{
     font-size: 16px;
     color: #777777;
     margin-top: 20.33px;
}
.student-feedback-img{
     width: 42px;
     height: 42px;  
}
.student-f-name{
     margin-left: 20px;
}
.student-f-name p{
     font-size: 16px;

}
/* student feedback end */
/* accordion start */
.question-accordion{
     width: 872px;
height: 520px;
padding: 50px;
margin-left: 150px;
}
/* accordion end */
/* footer start */
.footer-background{
     width: 1213px;
     height: 472px;
     background-color: #161616;
     padding: 130px; 
}
.footer-text{
     color: #FFFFFF;
     
}
.footer-text p{
     font-size: 16px;
     color: #E8E8E8;
}
/* footer end-----------
--------------------- */
/* media query mobile device start-----
---------------------------- */
@media (max-width:688px){
     .body{
          margin: 0;
          padding: 0;
     }
     
     .nav-logo{
          font-size: 20px;
     }
     
    
     
    
     .slider{
          width: 460px;
          height: 500px;
          margin-left: -70px;
     }
     .slider-text{
          margin-top: -50%;
     }

     
     .discover{
          margin-top: -150px;
         
     }
     .discover h1{
          font-size: 20px;
          font-weight: bolder;
          margin-top: 20px;
          
     }
     .discover p{
          font-size: 10px;
     }
     .courses-king{
          flex-wrap: wrap;  
          width: 335px;
          height: 402px;
          margin-left: -17px;
          
          
     }
     .courses-img{
          width: 335px;
          height: 224px;
          margin-top: -10px; 
     }
     .courses-text h5{
          font-size: 15px;

     }
     .courses-text p{
          font-size: 10px;
     }
     .courses-button{
          width: 200px;
          height: auto;
          margin-top: -10px;
          margin-left: -1px;
          margin-left: 100px;
         
     }
     .courses-button a{
          font-size: 15px;
         
     }
     .earning-img{
          width: 334px;
          height: auto;
          
     }
     .earning-bg{
          flex-direction: column;
          width: 334px;
          height: 720px;
          margin-left: 10px;
          
     }
     .earning-text{
          text-align: center;
          margin-left: -2px;
          padding: 20px;
     }
     .earning-text h1{
          font-size: 20px;

     }
     .earning-text p{
          font-size: 7px;
     }
     .register{
          width: 335px;
          height: 223px;
          text-align: center;
          margin-left: 10px;
     }
     .register-text{
          flex-direction: column;
          margin-left: -22.5%;
          margin-top: -20px;
     }
     .register-text h1{
          font-size: 18px;
          font-weight: bold;
     }
     .register-text p{
          font-size: 8px;
     }
     .register-button {
          width: 136px;
          height: 38px;
          margin-top: 35%;
          margin-left: -122.5%;

     }
     .successful-student{
          text-align: center;
     }
     .successful-student h1{
          font-size: 20px;
          font-weight: bolder;

     }
     .successful-student p{
          font-size: 8px;
     }
     .student{
          width: 335px;
          height: 400px;
     }
     .student-img{
          width: 335px;
          height: 300px;
     }
     .student-button{
          margin-left: -1px;
          margin-left: 130px;
         
     }
     
     .some-student-feedback h1{
          font-size: 20px;
          font-weight: bolder;

     }
     .some-student-feedback p{
          font-size: 6px;
     }
     .student-feedback{
          width: 335px;
          height: 308px;
          
          margin-left: -20px;
     }
     .student-feedback-text p{
          font-size: 10.5px;
     }
     .student-feedback-text{
         text-align: start;
         margin-left: -30px;
     }
     .ask-question h1{
          font-size: 20px;
          font-weight: bolder;
     }
     .ask-question p{
          font-size: 6px;
     }
     .question-accordion{
          width: 450px;
          height: auto;
          margin-left: -50px;
          margin-top: -50px;
     }
     .trusted-company{
          display: none;
     }
     .trusted-company-img{
          display: none;
     }
     .footer-background{
          width: 375px;
          height: 249px;
          margin-top: 142px;

     }
     .footer-text{
          
          margin-top: -50px;
     }
     .footer-text h1{
          font-size: 20px;
          
     }
     .footer-text p{
          font-size: 10px;
     }



}
/* mobile Query end -----------
--------------------
---------------------------*/

/* Tablet Query start---------------
-------------------------------- */
@media only screen and (min-width:688px) and (max-width:1024px){

     .body{
          margin: 0;
          padding: 0;
     }
     
     .nav-logo{
          font-size: 35px;
     }
     
    
     
    
     .slider{
          width: 734px;
          height: 400px;
          margin-left: -50px;
          
     }
     .slider-text h1{
          font-size: 40px;
         
     }
     .discover{
          
     }
     .discover h1{
          font-size: 30px;
         

     }
     .discover p{
          font-size: 16px;
     }
     .courses-king{
          width: 734px;
          height: 200px;
          margin-left: -40px;
          
          
          
         
           
     }
     .courses-tablet{
          flex-direction: column;
          
     }
     .earning-bg{
          
          width: 734px;
          height: 543px;
          margin-left: -10px;
          
     }
     .earning-img{
          width: 334px;
          height: 543px; 
     }
     .register{
          width: 734px;
height: 300px;
margin-left: -10px;
     }
     .successful-student{
         
          text-align: center;
     }

     .successful-student h1{
          font-weight: bolder;
     }
     .student{
         
     }
     .student-button{
         display: none;
     }
     .some-student-feedback{
          
         
     }
     .some-student-feedback h1{
          font-weight: bolder;
     }
     .student-feedback{
          width: 734px;
          height: 336px;
          margin-left: -10px;
          
     }
     .student-feedback-tablet{
          flex-direction: column-reverse;
     }
     .ask-question{
            
     }
     .ask-question h1{
          font-weight: bolder;

     }
     .question-accordion{
          width: 734px;
          height: 336px;
          margin-left: -6%;
     }
     .trusted-company{
          display: none;
     }
     .trusted-company-img{
          display: none;
     }
     .footer-background{
          width: 834px;
          height: 332px;
          margin-top: 10%;
     }
     
     
     
     
    

}